@import 'https://fonts.googleapis.com/css?family=Lato:400,300';
@import '../button.scss';
@import '../button.css.scss';

html {
	font-size: 20px;
}
body {
	font-family: 'Lato', sans-serif;
	margin: 1rem;
}
table {
	max-width: 1000px;
}
td, th {
	padding: 0.5rem;
	white-space: nowrap;
}
td {
	text-align: center;
}

.on {
	input[type="button"],
	button {
		@include vui-button();
	}

	button.primary,
	input[type="button"].primary,
	a.primary {
		@include vui-button-primary();
	}
}
