@import 'node_modules/vui-gradient/gradient';

@vui-button-color: #000000;
@vui-button-backgroundColorStart: #f8f8f8;
@vui-button-backgroundColorStart-focus: #fdfdfd;
@vui-button-backgroundColorEnd: #f2f2f2;
@vui-button-backgroundColorEnd-focus: #fafafa;
@vui-button-borderRadius: 3px;
@vui-button-borderColor: #cccccc;
@vui-button-borderColor-focus: #94ccda;
@vui-button-borderColor-hover: #aeaeae;
@vui-button-borderStyle: solid;
@vui-button-borderWidth: 1px;
@vui-button-boxShadow: 0 1px 0 0 #ffffff inset;
@vui-button-boxShadow-focus: 0 0 1px 0 #f2f2f2 inset, 0 0 3px 1px #94ccda;
@vui-button-boxShadow-hover: 0 2px 0 0 #ffffff inset;

@vui-primaryButton-color: #ffffff;
@vui-primaryButton-borderColor: #017795;
@vui-primaryButton-borderColor-focus: #038eb2;
@vui-primaryButton-borderColor-hover: #038eb2;
@vui-primaryButton-backgroundColorStart: #3292aa;
@vui-primaryButton-backgroundColorStart-focus: #33a3c0;
@vui-primaryButton-backgroundColorEnd: #017795;
@vui-primaryButton-backgroundColorEnd-focus: #038eb2;
@vui-primaryButton-boxShadow: none;
@vui-primaryButton-boxShadow-focus: 0 1px 0 0 #479db3 inset, 0 0 3px 1px #94ccda;

#vui {
	.Button(
			@color: @vui-button-color,
			@backgroundColorStart: @vui-button-backgroundColorStart,
			@backgroundColorEnd: @vui-button-backgroundColorEnd,
			@backgroundColorStart-focus: @vui-button-backgroundColorStart-focus,
			@backgroundColorEnd-focus: @vui-button-backgroundColorEnd-focus,
			@borderWidth: @vui-button-borderWidth,
			@borderColor: @vui-button-borderColor,
			@borderColor-focus: @vui-button-borderColor-focus,
			@borderColor-hover: @vui-button-borderColor-hover,
			@borderStyle: @vui-button-borderStyle,
			@borderRadius: @vui-button-borderRadius,
			@boxShadow: @vui-button-boxShadow,
			@boxShadow-focus: @vui-button-boxShadow-focus,
			@boxShadow-hover: @vui-button-boxShadow-hover
		) {
		border-radius: @borderRadius;
		border:
			@borderWidth
			@borderStyle
			@borderColor;
		cursor: pointer;
		display: inline-block;
		font-family: inherit;
		font-size: inherit;
		line-height: normal;
		margin: 0;
		min-height: 28px;
		padding: 5px 10px;
		text-align: center;
		user-select: none;
		vertical-align: middle;
		white-space: nowrap;
		width: auto;

		&:after {
			content: " ";
			width: 0;
		}

		&::-moz-focus-inner {
			border: 0;
			padding: 0;
		}

		&,
		&:visited,
		&:link,
		&:hover,
		&:focus,
		&.vui-disabled:hover,
		&.vui-disabled:focus,
		&[disabled]:hover,
		&[disabled]:focus {
			#vui.gradientVertical( @backgroundColorStart, @backgroundColorEnd );
			border-color: @borderColor;
			box-shadow: @boxShadow;
			color: @color;
			outline: none;
			text-decoration: none;
		}

		&.vui-disabled,
		&[disabled] {
			opacity: 0.5;
			cursor: default;
		}

		&:hover {
			border-color: @borderColor-hover;
			box-shadow: @boxShadow-hover;
		}

		&:focus {
			border-color: @borderColor-focus;
			box-shadow: @boxShadow-focus;
		}

		&:hover,
		&:focus {
			#vui.gradientVertical( @backgroundColorStart-focus, @backgroundColorEnd-focus );
			border-width: @borderWidth;
			border-style: @borderStyle;
		}

	}

	.Button {
		.primary(
				@color: @vui-primaryButton-color,
				@backgroundColorStart: @vui-primaryButton-backgroundColorStart,
				@backgroundColorStart-focus: @vui-primaryButton-backgroundColorStart-focus,
				@backgroundColorEnd: @vui-primaryButton-backgroundColorEnd,
				@backgroundColorEnd-focus: @vui-primaryButton-backgroundColorEnd-focus,
				@borderColor: @vui-primaryButton-borderColor,
				@borderColor-focus: @vui-primaryButton-borderColor-focus,
				@borderColor-hover: @vui-primaryButton-borderColor-hover,
				@boxShadow: @vui-primaryButton-boxShadow,
				@boxShadow-focus: @vui-primaryButton-boxShadow-focus
			) {
			&,
			&.vui-disabled:hover,
			&.vui-disabled:focus,
			&[disabled]:hover,
			&[disabled]:focus {
				#vui.gradientVertical( @backgroundColorStart, @backgroundColorEnd );
				border-color: @borderColor;
				box-shadow: @boxShadow;
				color: @color;
			}

			&:hover {
				box-shadow: @boxShadow;
				border-color: @borderColor-hover;
			}

			&:hover,
			&:focus {
				#vui.gradientVertical( @backgroundColorStart-focus, @backgroundColorEnd-focus );
			}

			&:focus {
				border-color: @borderColor-focus;
				box-shadow: @boxShadow-focus;
				color: @color;
			}

			&:link,
			&:visited {
				color: @color;
			}
		}
	}
}
