@import 'bower_components/vui-colors/colors.scss';
@import 'bower_components/vui-typography/small-text.scss';

@mixin _vui-button(
		$color,
		$background,
		$borderColor,
		$hoverBackground,
		$hoverBorderColor
	) {

	@include vui-typography-small-text(
			$fontWeight: 700,
			$margin: 0
		);

	border-radius: 0.3rem;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	min-height: calc(2rem + 2px);
	padding: 0.5rem 1.5rem;
	text-align: center;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	width: auto;

	&,
	&:visited,
	&:link,
	&:hover,
	&:focus,
	&.vui-disabled:hover,
	&.vui-disabled:focus,
	&[disabled]:hover,
	&[disabled]:focus {
		background-color: $background;
		border: 1px solid $borderColor;
		color: $color;
		outline: none;
		text-decoration: none;
	}

	&:after {
		content: " ";
		width: 0;
	}

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	&.vui-disabled,
	&[disabled] {
		opacity: 0.5;
		cursor: default;
	}

	&:hover,
	&:focus {
		border-color: $hoverBorderColor;
		background-color: $hoverBackground;
	}

}

@mixin vui-button() {

	@include _vui-button(
			$color: $vui-color-ferrite,
			$background: $vui-color-woolonardo,
			$borderColor: $vui-color-titanius,
			$hoverBackground: $vui-color-gypsum,
			$hoverBorderColor: $vui-color-titanius
		);

}

@mixin vui-button-primary() {

	@include _vui-button(
			$color: $vui-color-white,
			$background: $vui-color-celestine,
			$borderColor: $vui-color-celestuba,
			$hoverBackground: $vui-color-celestuba,
			$hoverBorderColor: $vui-color-celestuba
		);

}
