@import 'bower_components/vui-colors/colors.scss';
@import 'bower_components/vui-typography/typography.scss';

@mixin _vui-button(
		$color,
		$background,
		$borderColor,
		$hoverBackground,
		$hoverBorderColor,
		$focusBackground,
		$focusBorderColor
	) {

	@include vui-typography-small-text(
			$fontWeight: 700, 
			$margin: 0
		);

	$border-width: px-to-rem(1px, $vui-base-fontSize);
	$padding-top: px-to-rem(9px, $vui-base-fontSize);
	$padding-right: px-to-rem(30px, $vui-base-fontSize);
	$padding-bottom: px-to-rem(7px, $vui-base-fontSize);
	$padding-left: px-to-rem(30px, $vui-base-fontSize);
	$icon-height: px-to-rem(24px, $vui-base-fontSize);

	border-radius: px-to-rem(6px, $vui-base-fontSize);
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	min-height: $icon-height + $padding-top + $padding-bottom + ( $border-width * 2 );
	padding: $padding-top $padding-right $padding-bottom $padding-left;
	text-align: center;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	width: auto;

	&,
	&:visited,
	&:link,
	&:hover,
	&:focus,
	&.vui-disabled:hover,
	&.vui-disabled:focus,
	&[disabled]:hover,
	&[disabled]:focus {
		background: $background;
		border: 1px solid $borderColor;
		color: $color;
		outline: none;
		text-decoration: none;
	}

	&:after {
		content: " ";
		width: 0;
	}

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	&.vui-disabled,
	&[disabled] {
		opacity: 0.5;
		cursor: default;
	}

	&:hover {
		border-color: $hoverBorderColor;
		background: $hoverBackground;
	}

	&:focus {
		border-color: $focusBorderColor;
		background: $focusBackground;
	}

}

@mixin vui-button() {

	@include _vui-button(
			$color: $vui-color-ferrite,
			$background: $vui-color-trixon,
			$borderColor: $vui-color-titanius,
			$hoverBackground: $vui-color-buttonic,
			$hoverBorderColor: $vui-color-pressicus,
			$focusBackground: $vui-color-titanius,
			$focusBorderColor: $vui-color-pressicus
		);

}

@mixin vui-button-primary() {

	@include _vui-button(
			$color: $vui-color-white,
			$background: $vui-color-celestine,
			$borderColor: $vui-color-celestuba,
			$hoverBackground: $vui-color-celestine,
			$hoverBorderColor: $vui-color-celestine,
			$focusBackground: $vui-color-celestuba,
			$focusBorderColor: $vui-color-celestuba
		);

}
