*.css
page.*
galen-pagedump.js
jquery-1.11.2.min.js
screen.png
viewport.png
dumps/1.x-floating-buttons-desktop
dumps/1.x-floating-buttons-mobile
dumps/mainline-floating-buttons-desktop
dumps/mainline-floating-buttons-mobile
