@import '../../d2l-button.scss';

.sass-mixin-button {
	@include d2l-button();
}

.sass-mixin-button-subtle {
	@include d2l-button-subtle();
}

.sass-mixin-button-icon {
	@include d2l-button-icon();
}
